{% set active_page = active_page|default('none') -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Stylesheets/komsite.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='Images/LogoTextMiner.PNG')}}">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container">
        <div id="logo">
            <p style="float: left;"><a href="/"><img src="{{ url_for('static', filename='Images/LogoTextMiner.PNG')}}" alt="Logo" height="80"></a></p>
            <p><h1><a href="/">Logo</a></h1></p>
        </div>
        <div id="nav">
            <ul>
                <li><a {% if active_page == 'Home Page' %}class="active"{% endif %} href="{{ url_for('index') }}">Home Page</a></li>
                <li><a {% if active_page == 'Accomplishments' %}class="active"{% endif %} href="{{ url_for('accomplishments') }}">Accomplishments</a></li>
                <li><a {% if active_page == 'Work' %}class="active"{% endif %} href="{{ url_for('work') }}">Work</a></li>
                <li><a {% if active_page == 'Notes' %}class="active"{% endif %} href="{{ url_for('notes') }}">Notes</a></li>
				<li><a {% if active_page == 'Little Blog' %}class="active"{% endif %} href="{{ url_for('littleblog') }}">Little Blog</a></li>
                <li><a {% if active_page == 'Gameknowledge' %}class="active"{% endif %} href="{{ url_for('gameknowledge') }}">Gameknowledge</a></li>
            </ul>
      </div>
    </header>
    <div class="container">
      {% block container %}{% endblock %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        Copyright &copy; 2018 JPHH I Guess
      </div>
    </div>
  </body>
</html>