{% extends 'layout.html' %}
{% set active_page = 'home' %}
{% block title %}La Loko de Pensoj{% endblock %}

{% block container %}
<section id="showcase">
    <body background="{{ url_for('static', filename='Images/BackgroundGourdYam.PNG')}}">
        <div background="{{ url_for('static', filename='Images/Parchment.PNG')}}", id = "parchment";>
            <h1>Welcome to the Home Page<br>TextMinerProgram</h1>
            <p>The TextMinerProgram is one take on textmining</p>
        </div>
    </body>
</section>
{% endblock %}
{% block content %}
    <h2>Possible Instruction Video</h2>
    <!--<iframe width="600" height="420"src="https://www.youtube.com/embed/"></iframe>-->
{% endblock %}